.audio_player_track{
    width: calc(100% - 140px);
    height: 56px;
    position: relative;
    bottom: 76px;
    left: 140px;
}

.audio_player_track_slider{
width: calc(100% - 150px);
height:4px;
background:#edeef0;
margin-left: 60px;
border-radius:2px;
cursor: pointer;
position: relative;
bottom: 50px;
}

.audio_player_track_slider1{
height:4px;
background:#d1d6de;
border-radius:2px;
}

.audio_player_track_slider2{
height:4px;
background:#5181b8;
border-radius:2px;
position: relative;
bottom:4px;
}

.audio_player_track_slider3{
height:8px;
width:8px;
border-radius:4px;
background:#5181b8;
position: relative;
bottom:10px;
}





.audio_player_volume_slider{
width:50px;
height:4px;
background:#edeef0;
border-radius:2px;
cursor: pointer;
margin-left: calc(100% - 60px);
position: relative;
bottom: 66px;
}

.audio_player_volume_slider1{
height:4px;
background:#5181b8;
border-radius:2px;
}

.audio_player_volume_slider2{
height:8px;
width:8px;
border-radius:4px;
background:#5181b8;
position: relative;
bottom:6px;
}







.audio_player_text{


}
.audio_player_icon{
    margin-top:3px;
    background-image: url(assets/10.svg);
    width:50px;
    height:50px;
    border-radius:4px;
}

.audio_player_info{
margin-left: 60px;
position: relative;
bottom: 50px;
}

.audio_player_info_title{
font-size:18px;
}

.audio_player_info_artist{
font-size:16px;
color:#939393;
text-decoration: none;
}